*.egg
*.egg-info/
*.mo
*.o
*.orig
*.pyc
*.pyo
*.pem
*.bak
*.sqlite3
.DS_Store
.cache/
.coverage
.idea/
.vagrant
.python-version
.pytest_cache
/venv/
/_/
__pycache__/
collected_static/
/ga-private.p12
media/
npm-debug.log
send_mail.lock
pip-log.txt
pytest.ini
sql/
env.sh
node_modules
webpack-stats.json
webpack-stats-web-components.json
_local.py
_wsgi.py
.vscode/
celerybeat-schedule.db
celerybeat-schedule
.env
Pipfile
Pipfile.lock
pyprod/dump.rdb
frontend/dist
emails/dist
emails/yarn.lock
yarn-error.log
package-lock.json
aws/
newrelic_agent.log
